.sign_up
  .sign_up__header
    = render 'posts/header'
  .sign_up__main
    .sign_up__main__in
      %p アカウント登録
      %p.icon
        = icon('fa', 'paw', class: 'icon')
      .sign_up__main__in__form
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = render "devise/shared/error_messages", resource: resource
          .sign_up__main__in__form__input
            .sign_up__main__in__form__input__nickname
              %labelニックネーム
              %span必須
              %br
              = f.text_field :nickname, class: 'input', placeholder: "neko"
            .sign_up__main__in__form__input__mail
              %labelメールアドレス
              %span必須
              %br
              = f.email_field :email, class: 'input', placeholder: "neko@neko.com"
            .sign_up__main__in__form__input__password
              %labelパスワード
              %span必須
              %br
              = f.password_field :password, class: 'input', placeholder: '7文字以上の半角英数字'
              %br
              = f.password_field :password_confirmation, class: 'input', placeholder: '確認のためもう一度入力'              
              .sign_up__main__in__form__input__password__info
                ※ 英字と数字の両方を含めて設定してください
            
            .sign_up__main__in__form__input__btn
              = f.submit '登録', class: 'btn'
