.wrapper
  .header
    = render "posts/header"
  .mypage
    .mypage__in
      .mypage__in__left
        .mypage__in__left__name
          = current_user.nickname
          のマイページ
        .mypage__in__left__edit
          = link_to "ユーザー情報の変更","#"
        .mypage__in__left__logout
          = link_to "ログアウトする","#"
      .mypage__in__right
        投稿一覧
        .mypage__in__right__posts
          .mypage__in__right__posts__title
            = link_to "っっっっっっっっっっっっっっっっっっっっっっっっっっっっっq","#"