.wrapper
  .header
    = render "posts/header"
  .mypage
    .mypage__in
      .mypage__in__left
        .mypage__in__left__name
          私のMypage
        .mypage__in__left__edit
          = link_to "ユーザー情報の変更","#"
        .mypage__in__left__logout
          = link_to "ログアウトする","#"
      .mypage__in__right
        投稿一覧
        .mypage__in__right__posts
          .mypage__in__right__posts__title
            = link_to "っっっっっっっっっっっっっっっっっっっっっっっっっっっっっq","#"
          .mypage__in__right__posts__edit
            = link_to "#" do
              = icon('fa', 'edit', class: 'icon')
          .mypage__in__right__posts__delete
            = link_to "#" do
              = icon('fa', 'trash-alt', class: 'icon')