.wrapper
  .header
    = render "posts/header"
  .mypage
    .mypage__in
      .mypage__in__left
        .mypage__in__left__name
          = current_user.nickname
          のマイページ
        .mypage__in__left__edit
          = link_to "ユーザー情報の変更", edit_user_path(current_user)
        .mypage__in__left__logout
          = link_to "ログアウトする", destroy_user_session_path, method: :delete
      .mypage__in__right
        投稿一覧
        .mypage__in__right__posts
        - @posts.each do |post|
          .mypage__in__right__posts__title
            = link_to post.title, post_path(post.id)
    .page
      = paginate(@posts)