.header
  .header__in
    %ul.header__inr__left
      %li.header__in__left__title
        = link_to "Study Memo",posts_path
        .header__in__left__icon
          = icon('fa', 'graduation-cap', class: 'icon')
    -# この下はあとで条件分岐する！
    - if user_signed_in?
      %ul.header__in__right
        %li.header__in__right__logout
          = link_to "Logout", destroy_user_session_path, method: :delete
        %li.header__in__right__post
          = link_to "New post",new_post_path
        %li.header__in__right__category
          = link_to "Category","#",data: {"turbolinks" => false}
          %ul.header__in__right__category__list
            %li.header__in__right__category__list__menu
              - Post.all_tags.each do |tag| 
                .header__in__right__category__list__menu__title
                  = link_to "#{tag.name}(#{tag.taggings_count})",posts_path(tag_name: tag.name),class: 'tag'
                  