.wrapper
  = render "header"
  .post
    .post__in
      %h1
        = current_user.nickname
        の投稿一覧
      %table.post__in__list
        %tr.upper
          %th.post__in__list__title
            title
          %th.post__in__list__category
            category
          %th.post__in__list__day
            date
          -# %th.post__in__list__menu
          -#   menu
        - @posts.each do |post|
          %tr.downer
            %td.post__in__list__name
              = link_to post.title, post_path(post.id)
            %td.post__in__list__category
              = render 'posts/tag', tags: post.tags
            %td.post__in__list__day-time
              = post.created_at.to_s(:datetime_jp)
            -# %td.post__in__list__edit
            -#   = link_to edit_post_path(post.id) do
            -#     = icon('fa', 'edit', class: 'icon')
            -#   = link_to post_path(post.id),method: :delete, data: {confirm: "削除しますか？"} do
            -#     = icon('fa', 'trash-alt', class: 'icon')
      .page
        = paginate(@posts)